#gitalk-container
  max-width $contentWidth
  margin 0 auto
  padding 2rem 2.5rem
  @media (max-width: $MQNarrow)
    padding 2rem
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem

#main-title
  display none !important

.search-box input:focus {
  width: 20em;
}

.about-me-container {
  height: 360px;
  overflow: hidden;
  .qq-jpg {
    position: relative;
    top: 12px;
  }
  @media (max-width: $MQMobileNarrow) {
    height: auto;
    overflow: auto;
  }
}